#body {
	margin: 6px;
	padding: 0px;
	text-align: center;
	font:81.25% arial, helvetica, sans-serif;
}
#header {
	width: auto;
	display: block;
	height: 66px;
	border: 1px solid #333;
}
#content{
	float: right;
	width: 594px;
	height: 472px;
	padding: 6px;
	margin-top: 6px;
	margin-right: 6px;
	margin-left: 6px;
	border: 1px solid #333;
	}
#footer{
	width: auto;
	display: block;
	height: 24px;
	border: 1px solid #333;
	
	}

